<div ng-controller="CustomerTableController">
	<span ng-show="hasCustomers()">
		<table>
			<tr class="row">
				<th class="col-md-1 col-xs-1">Customer ID</th>
				<th class="col-md-2 col-xs-4">First Name</th>
				<th class="col-md-2 col-xs-4">Last Name</th>
				<th class="col-md-2 col-xs-3">Phone Number</th>
				<th class="col-md-4 col-xs-3">Email</th>
			</tr>
			<tr class="row" ng-repeat="cust in customers track by cust.customerId" ng-dblclick="selectWorkingCustomer(cust)" ng-keydown="keyPressed(this, $event)">
				<td class="col-md-1 col-xs-1">
				{{cust.customerId}}
				</td>
				<td class="col-md-2 col-xs-4">
				<span ng-hide="isEditing(cust)">
					{{cust.firstName}}
				</span>
				<span ng-show="isEditing(cust)">
					<input ng-model="workingCustomer.firstName"/>
				</span>
				</td>
				<td class="col-md-2 col-xs-4">
				<span ng-show="!isEditing(cust)">
					{{cust.lastName}}
				</span>
				<span ng-show="isEditing(cust)">
					<input ng-model="workingCustomer.lastName"/>
				</span>
				</td>
				<td class="col-md-2 col-xs-3">
				<span ng-show="!isEditing(cust)">
					{{cust.phoneNumber}}
				</span>
				<span ng-show="isEditing(cust)">
					<input ng-model="workingCustomer.phoneNumber"/>
				</span>
				</td>
				<td class="col-md-4 col-xs-3">
				<span ng-show="!isEditing(cust)">
					{{cust.email}}
				</span>
				<span ng-show="isEditing(cust)">
					<input ng-model="workingCustomer.email"/>
				</span>
				</td>
				<td class="col-md-1 col-xs-1">
					<span ng-show="isEditing(cust)">
						<button ng-click="deleteWorkingCustomer()">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</span>
				</td>
			</tr>
		</table>
	</span>
	<span ng-hide="hasCustomers()">
		No Customers Yet...
	</span>
</div>